:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
}

*,
:after,
:before {
    box-sizing: border-box
}

body {
    background: linear-gradient(135deg, #fff 15px, transparent 1%) 50%, linear-gradient(45deg, #fff 15px, transparent 1%) 50%, #224159;
    background-size: 16px 16px;
}

body {
    font-family: Open Sans;
}

body {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: var(--bs-body-color);
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    margin: 0;
    text-align: var(--bs-body-text-align)
}


.navbar {
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar-brand.navbar-brand {
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-brand {
    font-size: 1.25rem;
    margin-right: 1rem;
    padding-bottom: .3125rem;
    padding-top: .3125rem;
    text-decoration: none;
    white-space: nowrap;
}

.navbar h1,
.navbar h2 {
    margin: inherit;
    padding: inherit;
}

.navbar h1 {
    color: #224159;
    font-size: 20px;
    font-weight: 700;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 0;
}

.navbar h2 {
    font-size: 14px;
    text-transform: uppercase;
}

.button {
    align-items: center;
    background: #224159;
    border-radius: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.button a {
    color: #fff;
    padding: 3px 8px;
    text-decoration: none;
}

.lesson-links {
    margin-bottom: 80px;
    margin-top: 45px;
}

.lesson-links {
    font-size: 18px;
    padding: 15px 0;
}

.lesson-links a.prev {
    padding-left: 10px;
}

.lesson-links a {
    text-decoration: none;
}

.lesson-links a {
    align-items: center;
    background: #224159;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    display: flex;
    justify-content: center;
    padding: 15px 20px;
    padding-left: 20px;
}

.prev {
    float: left;
}

.next {
    float: right;
}

.lesson-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    margin: 40px auto 45px;
    max-width: 900px;
    padding: 20px;
    position: relative;
}

.lesson {
    border-radius: 8px;
    margin: 15px;
    overflow: scroll;
    padding: 15px;
}

.lesson h2::after {
    background: #dfa067;
    content: "";
    display: block;
    height: 3px;
    margin-top: 5px;
    max-width: 300px;
}

.anchor.before {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    padding-right: 4px;
}